@import 'c/cssLibrary';

/* Other style rules for contactsViewer component */
c-contact-tile {
    margin: var(--lwc-borderWidthThin, 1px) 0;
}
div.LARGE {
    width: fit-content;
}
div.SMALL {
    width: fit-content;
}
div.MEDIUM {
    width: fit-content;
}
